{% ckan_extends %}

{% block links -%}
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="/images/favicon.ico" />
<meta name="google-site-verification" content="cPApa9hLbUig7dY_S9ZxJUgkM_CcDMZTgtyX8E7nqp0" />
{% endblock -%}

{% block styles %}
  {{ super() }}
  {% resource 'ckanext-mef_theme/styles/style.css' %}
{% endblock %}
