<footer class="content-always-on-display">
    <div class="container">
        <div class="row">
            <div class="col-md-3 a11y-fonts-col-12">
                <p class="mb-4">
                    Ministerio de Economía y Finanzas
                </p>
                <p>
                <ul class="footer_datos">
                    <li> <b>Dirección:</b></li>
                    <li> <i class="fa fa-home" style="color:#F4BB47"></i> Jr. Junín 319, Cercado de Lima, Lima - Perú</li>
                    <li> <br></li>
                    <li> <b>Central Telefónica</b></li>
                    <li> <i class="fa fa-phone" style="color:#F4BB47"></i> <a href="tel:+5113115930">(511) 311 5930</a></li>
                    <li> <br></li>
                    <li> <i class="fa fa-link" style="color:#F4BB47"></i> <a href="https://mef.gob.pe" target="blank">www.mef.gob.pe</a></li>

                </ul>
                </p>
            </div>
            <div class="col-md-3 a11y-fonts-col-12">
            </div>
            <div class="col-md-3 a11y-fonts-col-12">
            </div>
            <div class="col-md-3 a11y-fonts-col-12">
                <p class="mb-4">
                <div style="font-size:13px">
                    <b> Mesa de Partes:</b><br> Lunes a viernes de 08:30 am a 04:30 pm
                    <br> <br>
                    Ministerio de Economía y Finanzas
                </div>
		<div style="text-align:center;">
		<img class="mw-100 mb-4" src="{{ h.url_for_static('/images/footer_logo.png') }}" alt="" />
		</div>
                </p>
            </div>

        </div>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WCSG4P9V0C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-WCSG4P9V0C');
</script>
