{% ckan_extends %}
{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}

{% block content %}
<main id="content" role="main">
<section id="hero" class="bg-tertiary py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <h1 class="h2 text-white mb-3 datos-line-height-1"> DATOS ABIERTOS DEL MINISTERIO DE ECONOMÍA Y FINANZAS </h1>
                <p class="text-white mb-4"> Ponemos a tu alcance datos públicos en formatos abiertos para que puedan usarlos, modificarlos y compartirlos. Estos datos son tuyos. Puedes crear visualizaciones, aplicaciones y grandes herramientas con ellos. </p>
		<form class="search mw-100 mb-3" method="get" action="{% url_for controller='dataset', action='search' %}">


<div class="input-group form-search">
  <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('Search datasets...') }}">
  <span class="input-group-addon">
	  <button type="submit">
	  <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
	  </button>
  </span>
</div>

                </form>
		  <div class="tags">
			  <span><b>{{ _('Popular tags') }}: </b></span>
    {% for tag in tags %}
      <a class="tag" href="{% url_for 'dataset.search', tags=tag.name %}">{{ tag.display_name|truncate(22) }}</a>
    {% endfor %}
		  </div>
            </div>
            <div class="col-10 col-sm-8 col-md-5 offset-1 offset-sm-2 offset-md-1">
		  <img class="img-fluid w-90 iq-fadebounce iq-rocket" src="{{ h.url_for_static('/images/home_image01.svg') }}" alt="Personas mirando gráficos."> </div>
        </div>
    </div>
</section>

{% block stats %}
{% snippet 'home/snippets/stats.html' %}
{% endblock %}

{% block featured_organization %}
{% snippet 'home/snippets/featured_organization.html' %}
{% endblock %}

<h2 class="mb-0 text-center">INFORMACIÓN</h2>
<section class="block-info">
    <div class="container">
        <div class="row">
	    <div class="col-md-3">
	            <h2 class="h3 mb-3">¿QUÉ SON DATOS ABIERTOS?</h2>
	    </div>
            <div class="col-md-9">
                    <div class="card-info"> Son datos producidos por la Entidades Públicas, puestas a disposición de la ciudadanía para su uso, reuso y redistribución; siendo excluida la información protegida por la Ley de Transparencia y Acceso a la Información y demás normas relacionadas a la materia. Los datos abiertos son accesibles de forma gratuita, a través de formatos reutilizables, que facilitan su análisis y permiten generar un nuevo producto o servicio innovador que contribuya al desarrollo económico del país.
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="block-info">
    <div class="container">
        <div class="row">
		<div class="col-md-3">
            <h2 class="h3 mb-3">¿QUE ES GOBIERNO ABIERTO?</h2>
		</div>
            <div class="col-md-9">
                    <div class="card-info"> El Gobierno Abierto es un eje transversal de la Política Nacional de Modernización de la Gestión Pública; es aquel que garantiza y promueve la transparencia, la participación ciudadana, la integridad pública y que aprovecha el poder de la tecnología para elevar sus niveles de eficacia y garantizar la rendición de cuentas. En ese contexto, el Ministerio de Economía y Finanzas, ha implementado el Portal de Datos Abiertos del MEF, con el objetivo de permitir el uso, reuso y redistribución de información económica y financiera del país. </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    {{ self.secondary_content() }}
  </div>
</main>
{% endblock %}

{% block secondary_content %}
  <div class="row group-listing p-bottom">
    {% snippet 'snippets/dataset_box.html', title='Más populares', icon='fire', datasets=h.popular_datasets() %}
    <br />
    {% snippet 'snippets/dataset_box.html', title='Últimos Datos', icon='time', datasets=h.latest_datasets() %}
  </div>
{% endblock %}
